<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="header-container">
          <h1 id="header">Riwi Weather</h1>
          <nav>
            <ul class="nav-list">
              <li><a href="../crudCities/crud.cities.html">Add city</a></li>
              <li><button id="logout">logout</button></li>
            </ul>
          </nav>
        </section>
    </header>
    <main>
      <section class="main-container">
        <div id="cities-container"></div>
      </section>
    </main>
    
    <script type="module" src="../../controller/home.ts"></script>
    <script type="module" src="../../controller/temp.controller.ts"></script>
</body>
</html>